ConfEditor.VC.db
ConfEditor.VC.VC.opendb
ConfEditor/Debug/
ConfEditor/x64/
Debug/
*.suo
ConfEditor/Release/
Release/
ConfEditor/DeviceDebug.cfg
ConfEditor/Favorites.cfg
ConfEditor/SwitchMonitor.cfg
*.bak
ConfEditor/icons/file-document-revert-operation-office-information-256.png
